@font-face {
    font-family: 'Apple Kid';
    src: url('Apple-Kid.eot');
    src: url('Apple-Kid.eot?#iefix') format('embedded-opentype'),
        url('Apple-Kid.woff2') format('woff2'),
        url('Apple-Kid.woff') format('woff'),
        url('Apple-Kid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'renogare';
  src: url('renogare.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



h1, h2 {
  text-align: center;
  font-size: 60px;
}

html {
  cursor: url("Hand-Arrow.cur"), default;
}

p {
  text-align: center;
  font-size: 32px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #2F4C39;
  margin-bottom: 15px;
}

li {
  float: left;
  border-right: 2px solid #bbb;
  margin-right: 5px;
  font-size: 24px;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* .navbar {
  width: 80%;
  background-color: #102A43;
  opacity: 80%;
  margin: auto;
  padding: auto;
  display: inline-block;
  border-color: #2F4C39;
  display: inline-block;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
*/

.content {
  width: 70vw;
  float: right;
  align-content: center;
  background: url("oneshot_refuge.png");
  background-repeat: no-repeat;
  background-color: #6495ED;
  background-size: 100vw 100vh;
}


.paragraph {
  width: 60%;
  background-color: rgba(47, 76, 57, 0.5);
  display: block;
  position: static;
  margin: auto;
  padding: 10px;
}


.reno {
  font-family: renogare;
}

.apple {
  font-family: Apple Kid;
}


.black {
  color: black;
}

.white {
  color: white;
}

#todobutton {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: beige;
  width: 60px;
  height: 60px;
  float: right;
  margin: 0;
  display: inline-block;
  overflow: visible;
  border: 5px solid brown;
}

/*
.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide li {padding : 30px;}

#touch {position: absolute; opacity: 0; height: 0px;}

#touch:checked + .slide {height: 300px;}
*/
